<server description="LibertyServer">
    <featureManager>    	
    	<feature>webProfile-8.0</feature>
	</featureManager>    

    <webApplication location="jsf.war" id="jsf" name="jsf" />

    <httpEndpoint host="localhost" httpPort="${default.http.port}" 
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>
        
    <keyStore id="defaultKeyStore" location="${server.output.dir}/resources/security/key.p12"/>
	
</server>