<server description="LibertyServer">
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>appSecurity-3.0</feature>
        <feature>cdi-2.0</feature>
        <feature>mpMetrics-2.0</feature>
        <feature>mpConfig-1.3</feature>
        <feature>mpJwt-1.1</feature>
    </featureManager>    

    <webApplication location="micro-profile-jwt.war" id="micro-profile-jwt" name="micro-profile-jwt" />
    
    <logging traceSpecification="com.ibm.ws.microprofile.health.*=all" />

    <httpEndpoint host="localhost" httpPort="${default.http.port}" 
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>
	
</server>